<!DOCTYPE html>
<html>
    <body>
        <!--<section class="movieModalWrapper"> -->
            <article class="movieContent">
                <div class="mediaWrapper">
                    <img src="{{movie.image.url}}" class="movieImg">
                
                    <section class="movieInfoBox">
                         <article class="rightColumn">
                             <h1 class="rightTitle">{{movie.title}}</h1>
                             <div class="descriptionCOntainer">
                                  <p>{{movie.intro}}</p>
                             </div>
                        </article>
                    </section>
                </div>
            </article>
        <!--</section>-->
</html>